.container
{
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    border: 10px;
    border-color: blue;
    
}